<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: left;
            height: 50vh;
            margin: 0;
            background-color: darkgrey;
        }

        form {
            background-color: whitesmoke;
            padding: 10px;
            border-radius: 16px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }

      
    </style>

</head>
<body>
    <main>   
        <h2>Login Information</h2>
        <form id="LoginForm">
            <div class="User">Username</div>
            <input type="text" id="username" placeholder="Enter username">
            <div class="Password">Password</div>
            <input type="password" id="userPassword" placeholder="Enter password">
            <p></p>
            <button type="submit">Login</button>
            <button onclick="toCreateAccountPage()" id="Sign-up">Sign-up</button>
        </form>    
    <main>   
</body>

<script>
        const Loginform = document.getElementById('LoginForm');
        
        Loginform.addEventListener('submit', async(event) => {
        event.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('userPassword').value;
        console.log(username, password);
        if (!username || !password){
            alert('Please enter both username and password');
            return;
        }

        try {
        const response = await fetch('/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({username, password}),
        });

        if (response.ok) {
            const data = await response.json();

            window.location.href = `ankiClone.html?username=${data.username}`;
            localStorage.setItem('vocabulary', JSON.stringify(data.vocabulary));
        } else{
            const error = await response.text();
            alert('Error: ' + error);
        }
        } catch (err){
        console.error('Error: ', err);
        alert('Failed to connect to server');
        }
        });
    
    function toCreateAccountPage(){
        window.location.href = "CreateAccount.html";
    }
</script>
</html>